@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
body{
	font-family: 'Open Sans', sans-serif;
	background: #f3f3f3;
}
.header-social{
	background-color: #2C343B;
}
.detail-social.left .fa{
	margin-right: 10px;
    font-size: 18px;
}
.detail-social.right .fa{
	margin-left: 10px;
}
.detail-social, .account a{
	line-height: 40px;
	color: #FFF;
}
.account > a:hover,.account > a:focus{
	text-decoration: none;
}
.input-group.search{
	margin-top: 6px;
	margin-right: 10px;
}
.search input{
	padding: 4px 7px;
	font-size: 14px;
	width: 130px;
	border:none;
	transition: all 0.5s ease;
}
.search input:focus{
	width: 260px;
	outline:none;
}
.search button{
	font-size: 16px;
	border: none;
	height: 28px;
	width: 28px;
	color:#2C343B;
	background-color:#FFF;
	transition: all 0.2s ease;
}
.search button:hover{
	color: #FFF;
	background-color: #52616D;
}
.search button:focus{
	outline: none;
}
.header-menu{
	background-color: #52616D;
}
.left{
	float:left;
}
.right{
	float: right;
}
.account {
	position:relative;
}
.form-account{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-top: 5px solid #2C343B;
	position:absolute;
	width: 250px;
	right:0;
	background: #FFF;
	z-index:2;
	color:#2C343B;
	text-align:center;
	display:none;
}
.form-account span{
	display:block;
	text-align:center;
}
.form-account form{
	padding:20px 30px;
}
.form-account form:nth-child(3){
	display:none;
}
.form-account form span{
	font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #C44741;
    height: 40px;
    text-align: left;
	margin-bottom:15px;
}
.form-account input{
	border:1px solid #E5E1D1;
	color: #2C343B;
	font-size: 13px;
	padding: 9px 13px;
	width: 100%;
	margin-bottom:15px;
	transition: all 0.3s ease;
}
.form-account input:focus{
	outline:none;
	border:1px solid #C44741;
}
.form-account button{
	border:none;
	background:#C44741;
	color: #FFF;
	font-size: 14px;
	height: 35px;
	width: 100%;
	line-height:1px;
	transition: all 0.3s ease;
}
.toggle-account{
	height:30px;
	width:35px;
	cursor: pointer;
	background:#2C343B;
	position:absolute;
	right:0;
	top:0;
	color: #FFF;
}
.toggle-account.glyphicon:before{
	font-size: 18px;
	line-height: 23px;
}
.form-account button:hover{
	background:#52616D;
}
.form-account a{
	display: block;
    width: 100%;
    background: #E5E1D1;
    font-size: 14px;
    line-height: 40px;
}
.form-account a:hover{
    color: #52616D;
    text-decoration: none;
}
a.glyphicon, a.fa{
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	color: #FFF;
}
a.glyphicon:hover, a.fa:hover{
	transform: scale(1.2);
}
.home-logo a{
	line-height: 100px;
}
.home-logo img{
	height: 90px;
}
.main-menu{
	margin-top: 30px;
	display: none;
}
.main-menu.nav-pills li.active a{
	background-color:transparent;
	outline: 1px solid;
}
.main-menu.nav-pills a{
	color: #FFF	;
	transition: all 0.2s ease;
	padding: 7px 10px;
	border-radius: 0;
}
.main-menu.nav-pills li:hover a,.main-menu.nav-pills a:focus{
	color: #52616D	;
	background-color: #FFF;
	text-decoration: none;
}
.main-menu.nav-pills a:hover span{
	visibility: visible;
}
.submenu{
	position: absolute;
	z-index: 1000;
	min-width: 150px;
	padding: 10px 5px;
    background: #FFF;
    border-top: 2px solid #C44741;
    display: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.main-menu.nav-pills .submenu a{
	padding: 0 10px 0 5px;
	color: #52616D;
}
li.has-submenu{
	position: static;
}
li.has-submenu:hover ul{
	display: block;
}
.has-submenu a span{
	visibility: hidden;
	font-size: 12px;
	margin-left: 5px;
	color: #52616D;
}	
.submenu span{
	margin-right: 5px;
}
.header-menu .navbar-toggle{
	border-color: #FFF;
	border-radius: 0;
	margin-top: 30px;
	color:#FFF;
}
@media (min-width: 768px){
	.main-menu{
		display: block;
	}
}
.owl-dots{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 30px;
}
#slider-banner .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(238,238,238,0.7);
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
#slider-banner .owl-dot.active {
    background: #C44741;
}
.owl-nav{
	position: absolute;
}
#new-post{
	margin: 20px 0;
	overflow: hidden;
}
#new-post img{
    width: 100%;
}
#new-post a{
	color: #FFF;
}
@media (max-width: 768px){
	#new-post .leftblock{
		width: 100%;
	}
	#new-post .rightblock{
		width: 100%;
	}
}
@media (min-width: 768px){
	#new-post .leftblock{
		width: 59.7%;
	}
	#new-post .rightblock{
		width: 39.7%;
	}
}

#new-post > div{
	margin-bottom:7px
}
#new-post .leftblock{
	
	overflow: hidden;
	position: relative;
}
#new-post .rightblock{
	
	overflow: hidden;
	position: relative;
}
#new-post .info{
	position: absolute;
	bottom: 0px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.9));
	width: 100%;
	padding: 10px 20px;
}
#new-post .info .title{
	font-size: 16px;
}
#new-post .info p{
	margin: 5px 0px;
	display: none;
	transition: all 1s ease;
}
#new-post a:hover .info p{
	display: block;
}
.image-slider{
	height: 450px;
	overflow: hidden;
	position: relative;
}
/*----------------------------QUOC-----------------------------------*/
/*
.footer-top{
	height: 300px;
	background-color: #72d0f4;
}
.newsletter{
	float: left;
}
.signup{
	display: block;
	color: white;
	margin-top: 55px;
}
.newsletter span:nth-child(2){
    display: block;
	color: white;
	margin-top: 35px;
}
.newsletter input{
	display: block;
    margin-top: 15px;
    width: 335px;
    background-color: #b9e8fa;
    border: 1px solid;
    color: #72d0f4;
    font-size: 8px;
    padding: 10px 10px 10px 15px;
}
.contact-info{
}
.contact-info a{
	display: block;
}
.footer-bot{
	height: 50px;
	background-color: #00bff0;
} */

.datetime{
	display: block;
}
.np-title{
    margin: 400px 0px 0px 0px;
}
.p-title{
    margin: 200px 0px 0px 0px;
}
.np-title a, .p-title a{
	color: white;
}
/*--------------HOT-MEM------------------*/

.member{
	padding: 5px;
}
.member img{
	border-radius: 50%;
}
.mem-info{
	max-width: 150px;
}
.mem-info span{
	display: block;
	text-align: center;
}
.name{
	font-weight: bold;
    font-size: 20px;
    color: #5BC0EB;
}
.rank{
	font-size: 13px;
    color: #5BC0EB;
    font-style: italic;
}
.status{
	font-size: 13px;
    font-style: italic;
    color: #52616D;
}
.mem-like, .mem-love{
	float: left;
}
.mem-contact{
	float: right;
}
.mem-like a, .mem-love a{
	margin: 10px 0px 0px 10px;
	color: #52616D;
}
.mem-like a:hover{
	color: #C44741;
}
.mem-love a:hover{
	color: #5BC0EB;
}
.mem-contact a{
	margin: 10px 0px 0px 5px;
	color: #5BC0EB;
}

/*-----------------------------------------------------------------------*/
.footer-content{
	list-style: none;
	margin-top:5px;
}
.footer-list
{
	letter-spacing: -1px;
}
.footer-list li{
	background-image: url(../img/submit-icon.png);
	background-size: 5px 10px;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 15px;
	margin: 0px 0px 0px 10px;
}
.footer-information{
	height: 300px;
	background-color: #52616D;
}
.footer-container{
	color: white;
	margin: 30px 0px 30px 0px;
}
.footer-container a{
	color: white;
	display: block;
}
.footer-container form{
	padding: 0px;
}
.footer-container button{
	height: 32px;
	width: 200px;
	background: #C44741;
	text-align: left;
	border: solid 0px;
	padding-left: 15px;
}
.footer-container form input[type=text]{
	height: 32px;
	width: 300px;
	background: #E5E1D1;
	color: #2C343B;
	border: none;
	padding-left: 15px;
}
.footer-container form input:focus{
	outline: #C44741 auto 5px;
}
.footer-content img{
	margin: 3px 15px 0px 0px;
}
.footer-contact{
	font-style: italic;
	font-size: 18px;
}
ul{
	line-height: 26px;
}
.uppercase{
	padding: 0px;
	text-transform: uppercase;
	width: 220px;
}

/*--------------------------------Bắc---------------------------------------*/
/*---- lesson---- */

.content-lesson {
	margin:0px;
	padding:0px;
	margin-top: 10px;
}
.lesson-tag h2{
	font-size: 20px;
	text-align: center;
	color: #c44741;
	text-transform: uppercase;
	border-bottom: solid 2px #c44741;
	padding: 10px 0;
}
.lesson-img{
	margin-right: 10px;
}
.lesson-img img {
	
	width: 100%;
    height: auto;
	opacity: 1.0;
}

.lesson-img img:hover{
	opacity: 0.8;
}

.lesson-caption {
	padding-right: 10px;
	text-align: justify;
}
.lesson-caption h3{
	padding-left: 15px;
	font-size: 20px;
	color:#5BC0EB;
	text-transform: uppercase;
	
}
.lesson-caption h3:hover{
	color: #c44741;
	text-decoration: none;
	border-bottom: solid 1px #c44741; 
	
}
.lesson-caption a{
	text-decoration: none;
}
.lesson-caption p{
	padding-right:10px;
	color: #52616d;
	font-style: italic;
}
/*---- banner---- */
.banner{
	height: 300px;
	background: url("../img/banner.jpg") no-repeat center;
    background-size: cover;
	padding-left: 100px;
	opacity: 0.8;
}
.title-banner{
	margin-top: 150px;
	color: #fff;
}
.title-banner h1{
	text-transform: uppercase;
	text-style: bold;
}
.title-banner p{
	font-style: italic;
	margin-top: 10px;
	color:#ffffff;
	font-size: 16px;
}
/*---- post---- */
.thum-post{
	background: #FFF;
	border-bottom: 4px solid #c44741;
	margin-bottom: 30px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
.post{
	margin-top: 60px;
}
/*.thum-post {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 50px;
	text-align: justify;
}*/
.title-post,.content-post{
    padding: 20px 30px;
}
.title-post h3{
	margin: 0;
}
.title-post a{
	text-decoration: none;
	color: #00BCD4;
}
.title-post a:hover{
	color: #c44741;
}
.img-post{
	height: 250px;
	background: #52616D;
	overflow: hidden;
	position: relative;
}
.img-post img{
	position: absolute;
	top:50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
.submit-post{
	height: 70px;
}
.submit-post a {
	text-decoration: none;
	color: #5BC0EB;
}
.submit-post p {
	font-style: italic;
	color: #5BC0EB ;
}

.submit-post .fa{
	font-size: 30px;
}
.submit-post a:hover {
	color: #E5E1D1;
}
.bottom-post{
	margin: 30px 0;
	border-bottom: 2px solid #C44741;
}
.status-post{
	text-align: center;
}
.status-post button{
	border: none;
}
.read-more{
	text-align: center;
}
.read-more a{
	color: #C44741;
	font-size: 16px;
	font-weight: bold;
}
.read-more a:hover{
	color: #00BCD4;
	font-size: 16px;
	font-weight: bold;
}
/*---- number-page ---- */
.page-number{
	text-align: center;
	margin-bottom:20px;
}


/*---- categories---- */
.categories {
	padding-top: 8 px;
	height: 200px;
	line-height:200px;
	background: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border-top: solid 10px #2C343B ;
	border-bottom: solid 2px #c44741 ;
	margin-bottom: 30px;
	margin-left: 30px;
}
.categories a {
	color: #2C343B ;
	text-decoration: none;
}
.categories ul {
	padding: 0px;
	
}
.categories ul li {
	list-style-type:none;
	font-size:16px;
	padding: 5px;
}
.categories span {
	visibility: hidden;
	padding-right: 5px;
}
.categories a:hover span{
	visibility: visible;
}
.categories a:hover {
	color: #c44741;
	text-decoration: none;
	border-bottom: solid 2px #c44741 ;
	padding-bottom: 5px;
}
.title-categories {
	padding-left: 20px;
	margin: 10px 90px 10px 70px;
	border-bottom: solid 3px #c44741;
}
.title-categories h2{
	font-size: 20px;
}
.tag-categories {
	margin-left:60px;
	margin-right: 80px;
}
/*---- statistical---- */

.statistical{
	height: 200px;
}
/*---- practice---- */
.practice {
	height: 280px;
}
/*---- intrerested---- */
.interested{
	
}

/*---- Detail-POST---- */
h3{
	padding: 20px 50px 20px 50px;
	font-size: 20px;
	color:#5BC0EB;
	font-style:bold;
}
.detail-post {
}
.detail-post h2{
 margin: 0px;
 margin: 10px 0px 5px 20px;
}
.submit-post-detail{
	margin:10px;
	padding: 5px;
}
.img-post-detail{
	height: 360px;
	background: #52616D;
	margin-bottom: 40px;
}
.content-post-detail{
	
}
.content-post-detail p{
	margin: 10px;
	text-indent: 50px;
	font-size: 14px;
	line-height: 1.8;
	text-align: justify;
	margin: 15px 30px 15px 30px;
}
.share-post{
	padding:5px;
	height: 70px;
	background: #52616D;
	font-size:15px;
	margin:auto;
	margin-top: 150px;
}
.share-post span{
	text-transform: uppercase;
}

.share-post a{
	font-size:25px;
	padding: 5px;
}
.control{
	text-align: right;
	padding-right: 20px;
	
}
.comment-post{
	margin:auto;
}
.comment-post h3{
	padding:0px;
	margin-left: 40px;
}
.comment {
	
}
.title-comment{
	height:30px;
	line-height: 30px;
	
}
.title-comment h4 {
	margin:0px;
	margin-left: 16px;
	padding-top: 7px;
	font-size: 14px;
	font-weight: bold;
	float:left;
}
.time-comment{
	margin-left: 20px;
	font-size: 12px;
	font-style: italic;
}
.reply {
	font-size: 12px;
	padding-top: 7px;
	text-align: right;
	
}
.reply span {
	margin-right: 5px;
}
.reply a {
	text-transform: uppercase;
	padding-right: 20px;
	
}
.reply a:hover {
	color: #C44741;
	text-decoration: none;
}
.body-comment{
	height: 80px;
	width: 100%;
	margin-bottom: 10px;
}
.avartar-comment{
	margin-left: 30px;
	width:70px;
	height:70px;
	background: #52616D ;
	
}
.content-comment{
	background:#F3F3F3;
	margin-left: 10px;
	height: 70px;
	width: 80%;
	border-bottom: solid 2px  #52616D  ;
}
.content-comment p{
	margin: 5px;
}
.send-comment{
	height: 300px;

}
/*----HOME-PRODUCT-------*/
.home-product{
	background: #FFF;
	text-align: center;	
}
.header-sl-product{
	padding-top: 20px;
}
.header-sl-product a{
	font-size: 22px;
	color: #5BC0EB;
	margin: 10px;
	padding: 5px;
}
.header-sl-product a:hover,.header-sl-product a:focus{
	border-bottom: 2px solid #C44741;
	text-decoration:none;
}
#slider-product{
	padding: 10px 0px;
}
.item{
	margin: 15px 0;
}
.footer-sl-product{
	padding-bottom: 20px;
	font-size: 22px;
	color:#C44741;
}
.footer-sl-product button{
	color:#FFF;
	padding: 10px 15px;
	background: #C44741;
	transition: all 0.5s ease;
	border: 2px solid #C44741;
}
.footer-sl-product button:hover{
	color: #C44741 ;
	background: none;
}
.footer-sl-product button:focus{
	outline: none;
}
/*----PRODUCT-------*/
.product{
	width: 240px;
	background: #f3f3f3;
	margin: auto;
	height: 360px;
	transition: all 0.2s ease;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
	border-bottom: 3px solid #C44741;	
	text-align: center;
	position: relative;
}
.product:hover{
	transform: scale(1.05);
	box-shadow: 0 2px 3px 3px rgba(0,0,0,0.2);
}
.product img{
	height: 240px;
}
.hot-sell{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #5BC0EB;
	position: absolute;
	top: 5px;
	left: 5px;
	color: #FFF;
}
.hot-sell span{
	font-size: 17px;
	position: relative;
	top:25%;
	left:2px;
}
.info-item{
	margin-top:5px; 
	text-align: center;
}
.info-item a{
	color: #52616D;
	cursor: pointer;
	font-size: 16px;
}
.info-item a:hover,.info-item a:focus{
	text-decoration: none;
}
.info-item .price-item{
	display: table-cell;
	vertical-align: middle;
	height: 46px;
	color: #C44741;
	font-size: 18px;
	position: relative;
	left: 60%;
}
.info-item .sell-price{
	margin-bottom: -2px;
	font-size: 13px;
	text-decoration: line-through;
	color:#2C343B;
}
.buy-now{
	font-size: 14px;
	height: 30px;
	width: 90px;
	border: none;
	color: #FFF;
	background: #52616D;
	position: relative;
	transition: all 0.2s ease;
}
.buy-now:hover{
	background: #f3f3f3;
	color: #52616D;
}
.buy-now:before,.buy-now:after{
    content: '';
    height: 2px;
    width: 0px;
    position: absolute;
    background: #52616D;
    transition: all 0.5s ease;
}
.buy-now:after{
	bottom: 0;
	left: 0;
}
.buy-now:before{
	right: 0;
	top: 0;
}
.buy-now:hover:before,.buy-now:hover:after{
	width: 100%;
}